<pre>
  Rylai the crystal maiden, from the frozen wastes of Icewrack through which the Blueheart glacier flows.
  Where she was a student of the ice wizard who thought her how to control abilities.

  Which she now brings to this battle to defend the Ancient.
  Her abilities allow her to freeze her enemies, crippling them and slowing them down to a crawl.
  Causing them to slowly freeze to death as the frostbite locks them inplace.

  Along with her maidenly charms she also brings a lovely aura with her.
  Causing her own and her allies mana to regenerate faster.

  At first glance she might not seem that dangerous, but keep in mind that ice does not always play nice.
  Tread carefully while near Rylai as its a slipperly slope, before you know it she'll summon ice shards
  from the wastes of Icewrack creating a freezing field around her, leaving no one standing...
</pre>
