 Max nova :
  this build maxes nova first
  :
  1,2,0,2,0,3,0,0,1,4,1,3,1,2,4,2,5,3,5,4,5,5,5,5,4:
altough nova is maxed out first it puts its first point in frostbite because its usally better to get first blood with, and it allows you to farm the jungle.
it also puts 2 points into aura early to ensure you have the mana to use your spells.
-
Max frostbite:
this build maxes frostbite first
:
1,2,0,2,1,3,1,1,0,4,0,3,0,2,4,2,5,3,5,4,5,5,5,5,4:
maxes the frostbite first and is best used against highly mobile enemies that get shutdown by root, like weaver and pangolier. but it also gets an early point
in crystalnova to give you access to all your spells.
-
Max aura:
this build maxes aura
:
1,2,0,2,2,3,2,0,0,4,0,3,1,1,4,1,5,3,5,4,5,5,5,5,4:
i would only suggest this build if you cant really do anything or your team REALLY needs the mana. if they have heroes you cant really zone or gank just grab this build
and go stack and farm the jungle and have a TP scroll ready so you can save your teammate. so you atleast get something done.
