<pre>
  Now that you are familiar with what her skills do lets go into what makes each skill good and when you should pick them up.
  I will go over the strengths of each skill so you can decide what you need for your current match.

  <h2>Crystal Nova</h2>

  Crystal Novas strength lies in its range and area of effect.
  The max range on the spell reaches about 1200 units which is the same range as a blink dagger.
  Making it perfect for initiating and catching people or canceling enemy blink daggers.
  And due to its large AOE its also a great damage spell for teamfights.
  Its generally best to against melee heroes that do not have anytype of mobility.

  Heroes like: Tiny, Ursa, Brewmaster, Sven.

  <h2>Frostbite</h2>

  Frostbite is a decent single target lockdown spell that deals medium damage, or a "soft disable".
  Since its a root and not an actual stun people can still cast spells and use items.
  So its a good idea to keep enemy items and abilities in mind when casting this on them.
  As any dispell will remove frostbite from your target.

  Items like: Black King Bar, Manta style, Lotus orb, euls and aeon disk. can be used to remove frostbite.
  Abilities with dispell: Press the attack, aphotic shield, kraken shell.

  Root prevents most movement spell and provides True sight over the target for the duration.
  Making Frostbite an excellent tool for dealing with mobile or invisible heroes.

  Heroes like: Weaver, Faceless void, Ember spirit, Pangolier.

  Additionally it also disarms targets preventing them from attacking.
  Allowing you to keep enemies that rely on attacking at bay.

  Heroes like: Ursa, Sven, Phantom assassin, Alchemist, Templar assassin.

  <h2>Arcane aura</h2>

  Arcane aura provides a flat mana regen boost to your entire team.
  Meaning that the amount of mana it provides to your team gets amplified based on their intelligence.

  This is best utilized by having allies that need mana, or would rather not buy mana regen them self.
  This aura is most noticable during the first 20 minutes of the game

  Heroes like Zeus and Bristleback benefit from this aura early as it allows them to spam their spells to win their lane.
  Other heroes like Storm spirit benefit from the aura later on as they aquire more int to boost it.

  Heroes that like to roam between lanes also greatly benefit as they usually use their spells constantly trying to get kills.
  but tend to lack the mana regen to keep it up this would include heroes like: Monkey king, Legion commander, Tusk.

  <h2>Freezing field</h2>

  Freezing field is Crystal maiden her ultimate ability but also the one that is hardest to use properly.
  Since Freezing field hits an area around Crystal maiden she would want to cast this from right between her enemies.
  However her fragile nature does not allow for this usually,
  as she would be more likely to get killed before she gets a chance to deal her damage.
  Additionally Freezing field is a channeled ability, meaning that any stun or silence will stop the spell.

  This means that in order to land a perfect freezing field you need the following:
  <ul> <li>Out of range of enemy stuns or silences</li>
    <li>Surivable enough to surive enemy attacks</li>
    <li>Surivable enough to surive enemy burst damage</li>
    <li>In range of as many enemies as possible</li> </ul>
  Now what can we do to check as many of these points as possible?

  In order to deal with enemy stuns and silences you have a few options.
  You can wait for them to use their disables and once they have done so go in.
  you can wait for them to use their ground target stuns and then hide out of vision and land an ultimate from there.

  Certain items can also help you with this altough be aware that usually you will not have alot of gold to spend.
  And that it is usually more important to get an item the team needs rather than getting an item you need.

  These items are: Glimmer cape, shadow amulet, Blink Dagger and Black King Bar.

  Out of these items the item you will most likely get is Glimmer Cape.
  As its a good way to save allies, survive magic burst, and allows you to get close without being seen.
  Just note that ground target stuns will still hit you and that the enemy will start carrying detection.

  How do you survive enemy attacks?
  Freezing field slows enemy attack speed add Crystal nova to that and the enemies DPS will drop significantly.
  Frostbite prevents enemies from attacking at all, freezing someone before ulting is generally a good idea.
  Just beware that you do not use up all your mana.

  And just like with targeted stuns, if you are outside of vision they cant attack you either.
  Meaning that glimmer cape will solve this issue as well, until they buy detection.

  There is another item that solves this and that is Ghost scepter.
  This item put you in ethereal state, making you immume to physical damage, but amplifying magical damage.
  So if the enemy has alot of heroes the rely on physical damage this could be a great item.
  Just dont use it when you are about to get hit by a large magic damage burst, lina, zeus, lion etc.. have these.

  Alright now how do you survive burst damage?
  Burst damage usually comes in the form of spells, so a Black King Bar is a solution.
  However like mentioned earlier you usually do not have the luxury to afford this item.
  Spells usually deal magic damage, and altough there are exceptions, buying magic resistance is a good solution.
  Glimmer cape when active gives a huge amount of magic resistance and solves alot of the ealier mentioned issues.
  But if the enemy team has tons of AOE magic damage a Pipe of insight might be the better choice.
  That is if an ally isnt buying it, because Crystal Maiden isnt the best person to carry a pipe of insight.
  Buying a casual cloak isnt a bad idea either, it might not seem like much but it might be just enough sometimes.

  For both survivability issues you can also get more HP, buying a casual Bracer and a Magic Wand early on.
  Altough you will always stay fragile, so try not to over extend too much.

  So now that you wont get stunned, or killed how do you get as many enemies as possible within range?
  First up you can use vision to your advantage, hide around a corner have an ally bait them near you.
  And then out of nowhere suddenly Freezing field. You could also sneak up on them this way but do we wary of enemy wards.

  Additionally certain items can help you solve this issue, Items like Blink Dagger or Force Staff.
  These two items allow you to better position yourself and to quickly close a gap to catch someone.
  Personally i prefer Blink Dagger, but when playing against Riki or Clockwerk ill buy a force staff.
  Force Staff gives Intelligence and Health Regen and allows you to save your allies.
  This can be an item that helps you solve your mana pool issues and gives some surivability thanks to health regen.

  Which of these two you get is mostly personal preference, but sometimes a match just needs one or the other.
</pre>
