<div class="homePage">
  <h2>Welcome to GhostwolfDota</h2>

  Who am i? <br>
  I am a ~5k mmr player, altough i might just as well be 3k mmr by the way i play. <br>
  If you ever see a witch docter carrying a skadi or some other random item, good chance that that is me. <br>

 <br>  <img src="img/random/mmr.png" alt="" /> <br>

<br>  Additionally im also a techies spammer... <br>

  <br>  <img src="img/random/techiesscore.png" alt="" /> <br>

<br>  I have always benefitted from other people their guides. <br>
  So now that i have become better at the game i decided to give something back to the community and make guides my self. <br>
  Hoping to help new players that way the same way the community helped me learn the game. <br> <br>

  My opendota <a href="https://www.opendota.com/players/104542722">Profile</a>.

</div>
